# === 암호화 ===
MS_AI_ENCRYPTION_KEY=FBRBdZIbc_ULGN_qOlZjdMLDLPPzdRJ2Nb63kX3wuDI=

# === Solapi SMS/카카오톡 ===
SOLAPI_API_KEY=NCSV30HGFAONWEPN
SOLAPI_API_SECRET=KTNWYZVICVQ7XU5AFUZGNC8OQXT9AACT
SOLAPI_KAKAO_PF_ID=KA01PF251028000707180RUlDmOmEIHl
SOLAPI_KAKAO_TEMPLATE_ID=KA01TP251029053533686cVW9f2fory3
SOLAPI_SENDER_NUMBER=01084461617
